body {
    background-color: #213b50;    
}

.SignIn {
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.SignIn h3 {
    font-weight: 400;
    font-size: 1.75em;
    color: lightgrey;
}

.SignIn fieldset {
    border-width: 0;
}

.SignIn label {
    font-weight: 400;
    font-size: 1.25em;
    color: lightgrey;
}

.SignIn input {
    background-color: #2b4a64;
    color: lightgrey;
    font-size: 20px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 5px; 
    outline: 0;
    border: 0;
    padding: 10px 5px;
}

.SignIn select {
    background-color: #2b4a64;
    color: lightgrey;
    line-height: 1.5em;
    font-size: 20px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 5px; 
    outline: 0;
    border: 0;
    padding: 10px 5px;

}

.SignIn button {
    background-color: skyblue;;
    color: lightgrey;
    width: auto;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
} 

.SignIn .ErrorsList {
    color: red;
    font-size: 18px;
    list-style-type: square;
    display: inline-block;
}

.SignIn .ErrorsList li {
    text-align: left;
}

.SignIn .ServerRespMessage {
    color: red;
    font-size: 18px;
}

.SignIn button:hover{
    background-color: lightblue;
    color: white;
}

